@model TrashCollection.Models.Pickup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Month-To-Date Statement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Billing Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.todaysDate)
        </dd>
        <dt>
            @Html.Label("Number of Pickups")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfPickups)
        </dd>

        <dt>
            @Html.Label("Current Total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyTotal)
        </dd>
    </dl>
</div> 

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


