@model TrashCollection.Models.Pickup

@{
    ViewBag.Title = "Monthly Statement";
}

<h2>Monthly Statement</h2>

<div>
    <h@*4>Month-To-Date Statement</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Billing date:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.todaysDate)
        </dd>
        <dt>
            @Html.Label("Number of pickups:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfPickups)
        </dd>

        <dt>
            @Html.Label("Current balance due:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyTotal)
        </dd>
    </dl>
</div> 

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


