@model IEnumerable<TrashCollection.Models.Pickup>

@{
    ViewBag.Title = "Your Pickup Schedule";
}

<h2>Your Pickup Schedule</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Address")
            @*@Html.DisplayNameFor(model => model.Address.Street1)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>*@
        <th>
            @Html.Label("Pickup Date")
            @*@Html.DisplayNameFor(model => model.PickupDate)*@
        </th>
        <th>
            @Html.Label("Active")
            @*@Html.DisplayNameFor(model => model.Status)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Street1)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>*@
        <td>
            
            @Html.DisplayFor(modelItem => item.PickupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupID })
        </td>
    </tr>
}

</table>


